<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Number</th>
        <th>Email</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.number}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.createdAt}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>